/*.vo-dml.xml
/char.vo-dml.xml
/coords.vo-dml.xml
/coordsys_tessel.vo-dml.xml
/cube.vo-dml.xml
/example.vo-dml.xml
/ivoa.vo-dml.xml
/meas.vo-dml.xml
/photdm_alt.vo-dml.xml
/src.vo-dml.xml
/provenance.vo-dml.xml
/triv.vo-dml.xml
